<aside th:fragment="asideFragment" id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-white">
        <ul class="space-y-2 font-medium">
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">회원 관리</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/registerConcert}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">공연 등록</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/concertList}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">공연 목록</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<style th:fragment="styleFragment">
    /* Flexbox 컨테이너 설정 */
    .main-container {
        position: relative; /* 포지셔닝 컨텍스트 설정 */
        height: 100vh; /* 전체 화면 높이 */
    }

    #default-sidebar {
        position: absolute; /* 절대 위치 설정 */
        top: 0; /* 상단에서부터의 위치 */
        left: 0; /* 좌측에서부터의 위치 */
        width: 250px; /* 사이드바 너비 */
        height: 100%; /* 사이드바 높이를 .main-container와 동일하게 설정 */
    }

    .content {
        flex-grow: 1; /* 남은 공간을 채우도록 설정 */
        overflow-y: auto; /* 내용이 많을 경우 스크롤 */
    }
</style>