<html layout:decorate="global/layouts/layout" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div class="main-container" layout:fragment="content">
    <th:block th:fragment="custom-css">
        <style th:replace="~{domain/admin/admin_sidebar :: styleFragment}">

        </style>
    </th:block>

    <aside th:replace="~{domain/admin/admin_sidebar :: asideFragment}"></aside>

</div>
<div layout:fragment="script">
    <script th:inline="javascript">

    </script>
</div>
</html>