<html layout:decorate="global/layouts/layout" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
     >

<div layout:fragment="content" class="mx-auto ">

    <th:block th:fragment="custom-css">
        <style>
            .concert-info {
                display: flex;
                justify-content: space-between;
                margin-top: 50px;
                margin-right: 20px;
            }

            .concert-info2 {
                margin-top: 50px; /* 각 요소 사이의 간격 설정 */
            }

            .concert-info2 span:nth-child(2) {
                margin-left: 20px;
            /
            }

            .concert-info span:nth-child(2) {
                margin-left: 20px;
            }

        </style>
    </th:block>

    <div class="artboard artboard-horizontal phone-6 border ">
        <div class="artboard artboard-horizontal phone-1 border mx-auto">
            <div class="grid h-20 card bg-base-300 rounded-box place-items-center" style="justify-content: flex-start">
                <h2 th:text="${concertDTO.getConcertNameKr()}"></h2>
            </div>

            <div>
                <div class="concert-info">
                    <div>
                        <span>장소 </span><span th:text="${concertDTO.getPlaceId()}"></span>
                    </div>

                    <div>
                        <span>장르 </span><span th:text="${concertDTO.getCategory()}"></span>
                    </div>
                </div>

                <div class="concert-info2">
                    <span>공연 기간 </span>


                    <!--공연 시작 날짜-->
                    <span th:text="${#temporals.format(concertDateDTO.getFirst().getStartTime(), 'yyyy-MM-dd')}"></span>
                    ~

                    <!--공연 종료 날짜-->
                    <span th:text="${#temporals.format(concertDateDTO.getLast().getEndTime(), 'yyyy-MM-dd')}"></span>

                </div>

            </div>

            <div class="concert-info">
                <div>
                    <span>관람 시간 </span><span th:text="${viewingTime.toMinutes()}"></span>분

                </div>

                <div>
                    <span>가격 </span><span th:text="${concertDTO.getSeatPrice()}"></span>원
                </div>
            </div>

        </div>

    </div>

    <div class="flex flex-col w-full border-opacity-50">

        <div class="flex w-full">
            <div class="grid h-20 flex-grow card bg-base-300 rounded-box place-items-center">

                <select class="select select-bordered select-lg w-full max-w-xs" id="concertDateSelect">
                    <option value="0">예매 일자를 선택해주세요</option>
                    <option th:each="concertDate : ${concertDateDTO}" th:value="${concertDate.concertDateId}" th:utext="${concertDate.getStartTime()}"></option>
                </select>

            </div>

            <div class="divider divider-horizontal"></div>

            <div class="grid h-20 flex-grow card bg-base-300 rounded-box place-items-center">

                <div>
                    <form id="seatForm" th:action="|/concert/${concertDTO.concertId}/seat|" method="POST">
                        <input type="hidden" name="concertDateId" value="0">
                        <button id="submitButton" class="bg-blue-500 text-white p-3 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue" type="submit">예매하기</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="divider"></div> <!--중간 라인-->

        <div role="tablist" class="tabs tabs-lifted tabs-lg">
            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="상세정보" />
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6"></div>

            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="리뷰" checked />
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">

                <!--답변 입력창 시작-->
                <div class="mt-20" >
                    <form th:action="@{|/review/${concertDTO.getConcertId()}|}" method="post" onsubmit="submitWriteForm(this); return false;">

                        <textarea class ="textarea textarea-bordered w-full" id="content" name="content"  rows="4" cols="50" placeholder="리뷰를 입력하세요..."></textarea><br>

                        <button class="btn btn-neutral">리뷰 작성</button>
                    </form>
                </div>
                <h5 th:text="|${#lists.size(reviews)}개의 답변|"></h5>

                <!--답변 입력창 끝-->
                <div th:each="review : ${reviews}">
                    <div class="comment-container">
                        <div class="mt-5" style="font-size: small">

                            <span class="mt-3">작성자: <span th:text="${review.getAuthorName()}"></span></span> <!--사용자 이름 으로 작성-->
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <span>작성일: <span th:text="${#temporals.format(review.getCreatedDate(), 'yyyy-MM-dd HH:mm')}"></span></span>
                            <span>&nbsp;&nbsp;&nbsp;</span>

<!--                             수정 버튼 시작-->
                            <label for="edit-review-modal" class="btn btn-sm edit-review-btn"
                                   onclick="openEditModal(this)"
                                   th:attr="data-review-id=${review.getReviewId()},
                                            data-review-content=${review.getContent()},
                                            data-concert-id=${review.getConcertId()}"
                                   th:href="@{|/review/delete/${review.getReviewId()}|}"
                                   th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or review.getLoginId() != null
                                         and #authentication.getName() == review.getLoginId()}">수정
                                        <i class="fa-solid fa-pen" ></i></label>


                            <input type="checkbox" id="edit-review-modal" class="modal-toggle"/>
                            <div class="modal" role="dialog">
                                <div class="modal-box" >
                                    <form>
<!--                                        <input type="hidden" name="method" value="PATCH">-->
                                        <textarea class ="textarea textarea-bordered w-full" id="edit-review"  rows="4" cols="50" placeholder="리뷰를 입력하세요..." ></textarea><br>
                                        <input type="hidden" id="edit-review-id" th:value="${review.reviewId}">
                                        <input type="hidden" id="edit-review-concert-id" th:value="${review.getConcertId()}">
                                        <div class="modal-action">
                                            <button class="btn btn-neutral" id="edit-Review-btn">리뷰 수정</button>
                                            <label for="edit-review-modal" class="btn">Close!</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
<!--                             수정 버튼 끝 -->

                            <!--삭제 버튼 시작-->
                            <a onclick="return confirm('정말로 삭제하시겠습니까?');" th:href="@{|/review/delete/${review.getReviewId()}|}" class="btn btn-sm"
                               th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or review.getLoginId() != null
                               and #authentication.getName() == review.getLoginId()}">
                                <i class="fa-solid fa-trash"></i> 삭제 </a>
                            <!--삭제 버튼 끝-->
                        </div>

                        <div class="mt-5" th:text="${review.getContent()}"></div>

                        <hr>

                    </div>
                </div>

            </div>

            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Tab 3" />
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">Tab content 3</div>
        </div>


        <!-------------------여기 까지 컨텐츠 영역-------------------------------------->
    </div>
    <!---------------------------------------여기 까지 phone-6-------------------------->

</div>


<div layout:fragment="script">
    <script th:inline="javascript">
        // 리뷰 작성 유효성 검사 체크
        function submitWriteForm(form) {
            const inputBody = form.content;

            inputBody.value = inputBody.value.trim();

            const body = inputBody.value;

            if (body.length == 0) {
                alert('내용을 입력해주세요.');
                inputBody.focus();

                return;
            }

            form.submit();
        } //여기까지 리뷰 작성 유효성 검사 체크


        window.onload = function() {
            var errorMessage = /*[[${errorMessage}]]*/ null;
            if (errorMessage) {
                alert(errorMessage);
            }
        };

        document.getElementById('submitButton').addEventListener('click', function(event) {
            if (!submitConcertDate(document.getElementById('seatForm'))) {
                event.preventDefault();
            }
        });

        function submitConcertDate(form) {
            var concertDateSelectElement = document.getElementById('concertDateSelect');
            var concertDateId = concertDateSelectElement.options[concertDateSelectElement.selectedIndex].value;

            if (concertDateId.length == 0 || concertDateId == 0) {
                alert('날짜를 선택해주세요.');
                return false;
            }

            form.concertDateId.value = concertDateId;
            return true;
        }

        /**
         * 여기서 부터 리뷰 수정
         * 모달박스에 리뷰내용을 가지고온다.
         */
        function openEditModal(btn) {
            const modal = document.getElementById('edit-review-modal');
            const reviewId = btn.getAttribute('data-review-id');
            const content = btn.getAttribute('data-review-content');
            const concertId = btn.getAttribute('data-concert-id');

            document.getElementById('edit-review').value = content;
            document.getElementById('edit-review-id').value = reviewId;
            document.getElementById('edit-review-concert-id').value = concertId;

            modal.style.display = 'block';
        }

        {
            /**
             * 수정 내용 + csrf 토큰 전송
             */
            const reviewUpdateBtn = document.getElementById("edit-Review-btn");

            // 클릭 이벤트 처리
            reviewUpdateBtn.addEventListener("click", function() {
                const csrfTokenHeaderName = document.querySelector("meta[name='_csrf_header']").getAttribute("content");
                const csrfTokenValue = document.querySelector("meta[name='_csrf']").getAttribute("content");
                // 수정 댓글 객체 생성
                const review = {
                    id: document.querySelector("#edit-review-id").value,
                    content: document.querySelector("#edit-review").value,
                    concert_id: document.querySelector("#edit-review-concert-id").value

                };
                console.log(review);
                // 수정  API 호출
                const url = "/review/update/" + review.id
                fetch(url, {
                    method: "PATCH", // PATCH 요청
                    headers: { // 전송 데이터 타입(JSON) 정보
                        "Content-Type": "application/json",
                        [csrfTokenHeaderName]: csrfTokenValue
                    },
                    body: JSON.stringify(review) //comment 객체를 JSON 문자열로 변환 전송
                }).then(response => {
                    // HTTP 응답 코드에 따른 메시지 출력
                    const msg = (response.ok) ? "리뷰가 수정되었습니다." : "리뷰 수정 실패..!";
                    alert(msg);
                    // 현재 페이지 새로 고침
                    window.location.reload();
                });
            });
        }

    </script>

</div>




</html>

