<html layout:decorate="global/layouts/layout" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" >
<div layout:fragment="content" class="mx-auto ">
    <script th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${apiKey}}"></script>

    <th:block th:fragment="custom-css">
        <style>
            .concert-info {
                display: flex;
                justify-content: space-between;
                margin-top: 50px;
                margin-right: 20px;
                text-align: center;
            }

            .concert-info2 {
                margin-top: 50px; /* 각 요소 사이의 간격 설정 */
            }

            .genre {
                margin-right: 20px; /* 장르 요소의 위 여백 조절 */
            }

            .concert-info2 span:nth-child(2) {
                margin-left: 20px;
            /
            }

            .concert-info span:nth-child(2) {
                margin-left: 20px;
            }

            #submitButton:disabled {
                background-color: grey; /* 비활성화 상태의 배경색 */
                color: black; /* 비활성화 상태의 텍스트 색상 */
            }

            /* 대기열 */
            .popup-wrap{
                background-color:rgba(0,0,0,.3);
                justify-content:center;
                align-items:center;
                position:fixed;
                top:0;
                left:0;
                right:0;
                bottom:0;
                display:none;
                padding:15px;
                z-index: 2;
            }
            .popup{
                width:100%;
                max-width:400px;
                /*background-color:#ffffff;*/
                border-radius:10px;
                overflow:hidden;
                background: linear-gradient(to right, rgb(43, 88, 118), rgb(78, 67, 118));
                box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
            }
            .popup-head{
                width:100%;
                height:50px;
                display:flex;
                align-items:center;
                justify-content:center;
            }
            .head-title {
                font-size: 38px;
                font-style: italic;
                font-weight: 700;
                letter-spacing: -3px;
                text-align: center;
            }
            .popup-body{
                width:100%;
                background-color:#ffffff;
            }
            .body-content{
                width:100%;
                padding:30px;
            }
            .body-contentbox{
                word-break:break-word;
                overflow-y:auto;
                min-height:25px;
                max-height:200px;
            }
        </style>
    </th:block>
    <!-- 대기열 창 -->
    <div class="container">
        <div class="popup-wrap" id="popup">
            <div class="popup">
                <div class="popup-head">
                    <span class="head-title">대기열</span>
                </div>
                <div class="popup-body">
                    <div class="body-content">
                        <div class="body-contentbox">
                            대기자 <span id="queueCount">0</span>명
                            잠시만 기다려주세요.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 본문 -->
    <div class="artboard artboard-horizontal phone-6  border">
        <div th:each="imagePath : ${concertDTO.imagePaths}" style="display: inline-block; margin-right: 10px;">
            <img th:src="${imagePath}" style="width: 200px; height: 320px;"/>
        </div>
        <div class="artboard artboard-horizontal phone-1  mx-auto">
            <div class="grid h-20 card place-items-center" style="justify-content: flex-start">
                <h2 th:text="${concertDTO.getConcertNameKr()}"></h2>
            </div>

            <div>
                <div class="concert-info">
                    <div>
                        <span>장소 </span> &nbsp;
                        <a th:href="@{'https://map.kakao.com/link/map/' + ${place.getPlaceName()} + ','
                        + ${place.getLatitude()} + ',' + ${place.getLongitude()}}" th:text="${place.getPlaceName()}" target="_blank">
                        </a>

                    </div>

                    <div class="genre">
                        <span>장르 </span><span th:text="${concertDTO.getCategory()}"></span>
                    </div>
                </div>

                <div class="concert-info2">
                    <span>공연 기간 </span>


                    <!--공연 시작 날짜-->
                    <span th:text="${#temporals.format(concertDateDTO.getFirst().getStartTime(), 'yyyy-MM-dd')}"></span>
                    ~

                    <!--공연 종료 날짜-->
                    <span th:text="${#temporals.format(concertDateDTO.getLast().getEndTime(), 'yyyy-MM-dd')}"></span>

                </div>

            </div>

            <div class="concert-info">
                <div>
                    <span>관람 시간 </span><span th:text="${viewingTime.toMinutes()}"></span>분

                </div>

                <div>
                    <span>가격 </span><span th:text="${concertDTO.getSeatPrice()}"></span>원
                </div>
            </div>

        </div>

    </div>

    <div class="flex flex-col w-full border-opacity-50">

        <div class="flex w-full">
            <div class="grid h-20 flex-grow card place-items-center">

                <select class="select select-bordered select-lg w-full max-w-xs" id="concertDateSelect">
                    <option value="0">예매 일자를 선택해주세요</option>
                    <option th:each="concertDate : ${concertDateDTO}"
                            th:value="${concertDate.concertDateId}"
                            th:utext="${#temporals.format(concertDate.getStartTime(), 'yyyy-MM-dd HH:mm')}"></option>
                </select>

            </div>

            <div class="divider divider-horizontal"></div>

            <div class="grid h-20 flex-grow card place-items-center">

                <select class="select select-bordered select-lg w-full max-w-xs" id="concertTicketCount">
                    <option value="0">예매 장수를 선택해주세요</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>

            </div>

            <div class="divider divider-horizontal"></div>

            <div class="grid h-20 flex-grow card place-items-center">

                <div>
                    <form id="seatForm" th:action="|/concert/${concertDTO.concertId}/seat|" method="POST">
                        <input type="hidden" name="concertDateId" value="0">
                        <input type="hidden" name="concertTicketCount" value="0">
                        <button id="submitButton" class="bg-blue-500 text-white p-3 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue"
                                type="submit" th:disabled="${concertDTO.status == 'ABLE'}">
                            <span th:if="${concertDTO.status == 'ABLE'}">예매 가능한 시간이 아닙니다.</span>
                            <span th:unless="${concertDTO.status == 'ABLE'}">예매하기</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="divider"></div> <!--중간 라인-->

        <div role="tablist" class="tabs tabs-lifted tabs-lg">
            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="상세정보" />
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6 ">
                <!--출연진 정보 콜랩스 시작 -->
                <details class="collapse bg-base-200">
                    <summary class="collapse-title text-xl font-medium">출연진 정보</summary>
                    <div class="collapse-content">
                        <!--출연진 정보 테이블 시작-->
                        <div class="overflow-x-auto">
                            <table class="table">
                                <!-- head -->
                                <thead>
                                <tr class="text-xl">
                                    <th th:each="performer : ${performers}">Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- row 1 -->
                                <tr>   <!--출연진 정보를 한 행으로 출력함-->
                                    <td th:each="perfomer : ${performers}">
                                        <p class="text-xl" th:text="${perfomer.getArtistNameKr()}"></p>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--출연진 정보 테이블 끝-->
                    </div>
                </details>
                <!--출연진 정보 콜랩스 끝  -->

                <details class="collapse bg-base-200 mt-3">
                    <summary class="collapse-title text-xl font-medium">공연 시간 </summary>
                    <div class="collapse-content" th:each="concertDate : ${concertDateDTO}">
                        <!-- 공연 시작 시간 -->
                        <span th:text="${#temporals.format(concertDate.startTime, 'yyyy년 MM월 dd일 EEE요일 HH:mm')}"></span>
                        ~
                        <!-- 공연 종료 시간 -->
                        <span th:text="${#temporals.format(concertDate.endTime, 'yyyy년 MM월 dd일 EEE요일 HH:mm')}"></span>

                    </div>
                </details>


                <details class="collapse bg-base-200 mt-3">
                    <summary class="collapse-title text-xl font-medium">예매 공지 사항 </summary>
                    <div class="collapse-content" >
                        <p style="color: #dc0000">※ 티켓 오픈 시간</p>
                        <!--티켓오픈 시간 과 현재시간과 비교 용도 사용자한테 보여서는안됨 ,
                         시간 포맷을 해 버릴 경우 현재시간 포맷형식이 달라 예매하기버튼 비활성화 ,활성화 동작이 안됨 -->
                        <span id="releaseTime" th:text="${concertDTO.getReleaseTime()}" style="display: none;"></span>

                        <!--사용자 에게 보이는 용도 (티켓오픈시간)-->
                        <span  th:text="${#temporals.format(concertDTO.getReleaseTime(), 'yyyy년 MM월 dd일 EEE요일 HH:mm')}"></span>

                        <p class="mt-3" style="color: #dc0000">[ 예매 및 취소 마감 기한 안내 ]</p>
                        <p>티켓 예매, 취소 및 변경, 환불이 불가하오니 유의해주시기 바랍니다. </p>

                    </div>
                </details>


            </div>

            <!--리뷰 작성 탭 시작-->
            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="리뷰"  checked/>
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6 ">

                <!--리뷰 입력창 시작-->
                <div class="mt-20" >
                    <form th:action="@{|/review/${concertDTO.getConcertId()}|}" method="post" onsubmit="submitWriteForm(this); return false;">

                        <textarea class ="textarea textarea-bordered w-full" id="content" name="content"  rows="4" cols="50" placeholder="리뷰를 입력하세요..."></textarea><br>

                        <button class="btn btn-neutral">리뷰 작성</button>
                    </form>
                </div>
                <h5 class="mt-5" th:text="|${reviews.getTotalElements()}개의 답변|"></h5>

                <!--답변 입력창 끝-->
                <div th:each="review  : ${reviews}">
                    <div class="comment-container">
                        <div class="mt-5" style="font-size: small">

                            <span class="mt-3">작성자: <span th:text="${review.getAuthorName()}"></span></span> <!--사용자 이름 으로 작성-->
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <span>작성일: <span th:text="${#temporals.format(review.getCreatedDate(), 'yyyy-MM-dd HH:mm')}"></span></span>
                            <span>&nbsp;&nbsp;&nbsp;</span>

                            <!--                             수정 버튼 시작-->
                            <label for="edit-review-modal" class="btn btn-sm edit-review-btn"
                                   onclick="openEditModal(this)"
                                   th:attr="data-review-id=${review.getReviewId()},
                                            data-review-content=${review.getContent()},
                                            data-concert-id=${review.getConcertId()}"
                                   th:href="@{|/review/delete/${review.getReviewId()}|}"
                                   th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or review.getLoginId() != null
                                         and #authentication.getName() == review.getLoginId()}">수정
                                <i class="fa-solid fa-pen" ></i></label>


                            <input type="checkbox" id="edit-review-modal" class="modal-toggle"/>
                            <div class="modal" role="dialog">
                                <div class="modal-box" >
                                    <form>
                                        <!--                                        <input type="hidden" name="method" value="PATCH">-->
                                        <textarea class ="textarea textarea-bordered w-full" id="edit-review"  rows="4" cols="50" placeholder="리뷰를 입력하세요..." ></textarea><br>
                                        <input type="hidden" id="edit-review-id" th:value="${review.reviewId}">
                                        <input type="hidden" id="edit-review-concert-id" th:value="${review.getConcertId()}">
                                        <div class="modal-action">
                                            <button class="btn btn-neutral" id="edit-Review-btn">리뷰 수정</button>
                                            <label for="edit-review-modal" class="btn">Close!</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--                             수정 버튼 끝 -->

                            <!--삭제 버튼 시작-->
                            <a onclick="return confirm('정말로 삭제하시겠습니까?');" th:href="@{|/review/delete/${review.getReviewId()}|}" class="btn btn-sm"
                               th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or review.getLoginId() != null
                               and #authentication.getName() == review.getLoginId()}">
                                <i class="fa-solid fa-trash"></i> 삭제 </a>
                            <!--삭제 버튼 끝-->
                        </div>

                        <div class="mt-5" th:text="${review.getContent()}" style="white-space: pre-line;"></div> <!--리뷰 개행 값 넣어줌 -->

                        <hr>

                    </div>
                </div>
                <!--페이징 처리-->
                <div th:if="${!reviews.isEmpty()}">
                    <div  class="join flex justify-center mt-5">
                        <a class="join-item btn " th:classappend="${!reviews.hasPrevious} ? 'btn-disabled'"
                           th:href="@{|?page=${nowPage - 1}|}">« </a> <!-- 이전페이지 -->

                        <a th:each="page:${#numbers.sequence(startPage , endPage)}"
                           th:classappend="${page == nowPage} ? 'btn-active'" class="join-item btn "
                           th:text="${page}"  th:href="@{|?page=${page}|}"> </a> <!--현재 페이지-->

                        <a class="join-item btn " th:classappend="${!reviews.hasNext} ? 'btn-disabled'"
                           th:href="@{|?page=${nowPage + 1}|}">» </a> <!-- 다음페이지 -->
                    </div>
                </div>
                <!--페이징 처리 끝-->

            </div>
            <!--리뷰작성 탭 끝 -->


            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="장소" onclick="relayout()"/>
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6 ">

                <!-- 지도 -->
                <div class="mb-10">
                    <strong>공연장 위치</strong>
                </div>
                <a th:href="@{'https://map.kakao.com/link/map/' + ${place.getPlaceName()} + ','
                        + ${place.getLatitude()} + ',' + ${place.getLongitude()}}" th:text="${place.getPlaceName()}" style="color: blue; text-decoration: underline;" target="_blank">
                </a>

                <div id="map" style="width: 900px; height: 500px;"></div>

            </div>

        </div>
        <!-------------------여기 까지 컨텐츠 영역-------------------------------------->
    </div>
    <!---------------------------------------여기 까지 phone-6-------------------------->

</div>

<div layout:fragment="script">
    <script th:inline="javascript">
        window.onload = function() {
            var errorMessage = /*[[${errorMessage}]]*/ null;
            if (errorMessage) {
                alert(errorMessage);
            }
        };

        document.getElementById('submitButton').addEventListener('click', function(event) {
            if (!submitConcertDate(document.getElementById('seatForm'))) {
                event.preventDefault();
            }
        });

        function submitConcertDate(form) {
            var concertDateSelectElement = document.getElementById('concertDateSelect');
            var concertDateId = concertDateSelectElement.options[concertDateSelectElement.selectedIndex].value;
            var concertTicketCountElement = document.getElementById('concertTicketCount');
            var concertTicketCount = concertTicketCountElement.options[concertTicketCountElement.selectedIndex].value;
            var concertId = /*[[${concertDTO.concertId}]]*/ null;

            if (concertDateId.length == 0 || concertDateId == 0) {
                alert('날짜를 선택해주세요.');
                return false;
            }

            if (concertTicketCount.length == 0 || concertTicketCount == 0) {
                alert('장수를 선택해주세요.');
                return false;
            }

            form.concertDateId.value = concertDateId;
            form.concertTicketCount.value = concertTicketCount;

            const socket = new SockJS('/ws');
            const stompClient = Stomp.over(socket);
            const memberId = /*[[${member != null ? member.id : null}]]*/ null;

            if (memberId === null) {
                alert('로그인이 필요합니다.');
                return false;
            }

            stompClient.connect({}, function() {

                stompClient.send('/app/queue/addQueue', {}, JSON.stringify({
                    concertId: concertId,
                    memberId: memberId
                }));

                stompClient.subscribe(`/exchange/amq.direct/processQueue.${memberId}`, (message) => {
                    stompClient.disconnect();
                    form.submit();
                });

                var queueCount = 0;
                stompClient.subscribe(`/exchange/amq.direct/listQueue.${memberId}`, (message)=> {
                    if (queueCount == 0) {
                        $("#popup").css('display','flex').hide().fadeIn();
                        queueCount = 1;
                    }
                    document.getElementById('queueCount').innerText = message.body;
                });
            });
        }

        // 리뷰 작성 유효성 검사 체크
        function submitWriteForm(form) {
            const inputBody = form.content;

            inputBody.value = inputBody.value.trim();

            const body = inputBody.value;

            if (body.length == 0) {
                alert('내용을 입력해주세요.');
                inputBody.focus();

                return;
            }

            form.submit();
        } //여기까지 리뷰 작성 유효성 검사 체크

        /**
         * 여기서 부터 리뷰 수정
         * 모달박스에 리뷰내용을 가지고온다.
         */
        function openEditModal(btn) {
            const modal = document.getElementById('edit-review-modal');
            const reviewId = btn.getAttribute('data-review-id');
            const content = btn.getAttribute('data-review-content');
            const concertId = btn.getAttribute('data-concert-id');

            document.getElementById('edit-review').value = content;
            document.getElementById('edit-review-id').value = reviewId;
            document.getElementById('edit-review-concert-id').value = concertId;

            modal.style.display = 'block';
        }

        {
            /**
             * 수정 내용 + csrf 토큰 전송
             */
            const reviewUpdateBtn = document.getElementById("edit-Review-btn");

            // 클릭 이벤트 처리
            reviewUpdateBtn.addEventListener("click", function () {
                const csrfTokenHeaderName = document.querySelector("meta[name='_csrf_header']").getAttribute("content");
                const csrfTokenValue = document.querySelector("meta[name='_csrf']").getAttribute("content");
                // 수정 댓글 객체 생성
                const review = {
                    id: document.querySelector("#edit-review-id").value,
                    content: document.querySelector("#edit-review").value,
                    concert_id: document.querySelector("#edit-review-concert-id").value

                };
                console.log(review);

                const url = "/review/update/" + review.id
                fetch(url, {
                    method: "PATCH", // PATCH 요청
                    headers: {
                        "Content-Type": "application/json",
                        [csrfTokenHeaderName]: csrfTokenValue
                    },
                    body: JSON.stringify(review) //comment 객체를 JSON 문자열로 변환 전송
                }).then(response => {
                    // HTTP 응답 코드에 따른 메시지 출력
                    const msg = (response.ok) ? "리뷰가 수정되었습니다." : "리뷰 수정 실패..!";
                    alert(msg);
                    // 현재 페이지 새로 고침
                    // window.location.reload();
                });
            });


            const latitude = /*[[${place.latitude}]]*/ null;
            const longitude = /*[[${place.longitude}]]*/ null;

            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(latitude, longitude), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다
            var markerPosition  = new kakao.maps.LatLng(latitude, longitude);

// 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                position: markerPosition
            });

// 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);

// 아래 코드는 지도 위의 마커를 제거하는 코드입니다
// marker.setMap(null);    ainer, options);

            function relayout() {

                // 지도를 표시하는 div 크기를 변경한 이후 지도가 정상적으로 표출되지 않을 수도 있습니다
                // 크기를 변경한 이후에는 반드시  map.relayout 함수를 호출해야 합니다
                // window의 resize 이벤트에 의한 크기변경은 map.relayout 함수가 자동으로 호출됩니다
                map.relayout();
                map.setCenter(markerPosition);
            }

        }
    </script>

</div>


</html>
