<html layout:decorate="global/layouts/layout" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div layout:fragment="content">
    <th:block th:fragment="custom-css">
        <style>

        </style>
    </th:block>

    <h1 th:text="${@appConfig.recaptchaSiteKey}"></h1>

    <form id="recaptcha-form">
        <div id="recaptcha"
             class="g-recaptcha"
             data-callback="recaptchaCallback"
             data-expired-callback="expiredCallback"
             th:attr="data-sitekey=${@appConfig.recaptchaSiteKey}">
        </div>
    </form>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</div>

<div layout:fragment="script">
    <script th:inline="javascript">
        function recaptchaCallback() {
            var csrfToken = [[${_csrf.token}]];

            if (grecaptcha.getResponse() !== "") {
                return new Promise(function(resolve, reject) {
                    $.ajax({
                        url: "/recaptcha/validate",
                        type: "POST",
                        headers: {
                            'X-CSRF-TOKEN': csrfToken
                        },
                        contentType: "application/x-www-form-urlencoded",
                        data: $("#recaptcha-form").serialize(),
                        dataType: "text"
                    }).then(function(data) {
                        if (data) {
                            alert("인증 성공");
                        } else {
                            alert("인증 실패");
                        }
                    }).catch(function(error) {
                        console.error("AJAX 요청 오류:", error);
                    });
                });
            }
        }

        function expiredCallback() {
            alert("응답 만료");
        }
    </script>
</div>
</html>