<div layout:decorate="global/layouts/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
                    >
    <div layout:fragment="content" class="container mx-auto p-4 bg-white rounded">

        <div style="width: 600px" class="mx-auto">

        <!-- 질문 -->
        <div class="post-header ">
            <h2 class="text-center text-4xl font-bold text-gray-800 mb-4">고객 센터</h2>
            <div class="border-b py-2" th:text="${ questionResponse.getQuestionCategory()}"> </div>

            <h2 class="border-b py-2" th:text="${questionResponse.getQuestionTitle()}"></h2>
            <div class="post-meta flex justify-end items-center">
                <span class="text-sm text-gray-500">작성일시:</span>
                <span th:text="${#temporals.format(questionResponse.getCreateDate(), 'yyyy-MM-dd HH:mm')}" class="text-sm text-gray-800 ml-2"></span>
                <!-- 수정일시 추가 -->
                <span th:if="${questionResponse.getModifyDate() != null}" class="text-sm text-gray-500 ml-4">수정일시:</span>
                <span th:if="${questionResponse.getModifyDate() != null}" th:text="${#temporals.format(questionResponse.getModifyDate(), 'yyyy-MM-dd HH:mm')}" class="text-sm text-gray-800"></span>
            </div>
            <!--작성자 표시-->
            <div class="post-meta mt-[-22px]">
                <span class="text-sm text-gray-500 mr-2">작성자:</span>
                <span th:if="${questionResponse.getAuthorName() != null}" th:text="${questionResponse.getAuthorName()}" class="text-sm text-gray-800"></span>
            </div>

            <!-- 수정, 삭제 버튼 숨김 처리 -->
            <div class="post-actions mx-auto" >
                <a th:href="@{|/help/question/update/${questionResponse.getCustomerQId()}|}"
                   class="text-sm text-gray-500 hover:text-blue-500 mr-2"
                   th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or questionResponse.getLoginId() != null
                   and #authentication.getName() == questionResponse.getLoginId()}">문의 글 수정</a>
                    <!--내가 작성한 글이면 활성화. 또는 현재 로그인 한 계정의 권한이 admin 이라면 활성화 -->

                <a onclick="return confirm('정말로 삭제하시겠습니까?');" class="text-sm text-gray-500 hover:text-red-500"
                   th:href="@{|/help/question/delete/${questionResponse.getCustomerQId()}|}"
                   sec:authorize="hasAuthority('ADMIN')">문의 글 삭제</a> <!--관리자 만이 삭제 가능 -->
            </div>
        </div>

        <div class="my-3 pb-3 border-b-2  text-center " >
            <div class="p-4 mb-5 text-left whitespace-pre-line">
                <div class="text-gray-800 " th:text="${questionResponse.getQuestionContent()}"></div>
            </div>
        </div>

            <div class="border-b py-2">
            <div th:text="${questionResponse.getFileName()}"> 파일 이름 </div>
            <a th:href="@{|/file/${questionResponse.getFileName()}|}"> 파일 보기 </a> <!--file 요청이 들어오면  파일을 보여줌 -->
            </div>

            <div th:text="${ #authentication.getAuthorities()}">현재 로그인 한 사용자의 권한 </div>

            <div class="mb-3">
                <a href="/help/myqna" class="btn btn-wide btn btn-active btn-neutral w-full">목록</a>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
            <a href="" class="btn btn-wide btn btn-active btn-neutral w-full" >답변 등록</a> <!--관리자 만 답변 가능-->
            </div>
        </div>

    </div>

</div>



