<div layout:decorate="global/layouts/layout" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <div layout:fragment="content" class="container mx-auto p-4 bg-white rounded">

        <h2 class="border-bottom py-2" th:text="${questionResponse.questionTitle}"></h2>
        <h2 class="border-bottom py-2" th:text="${questionResponse.getAuthorId()}"></h2>
        <h2 class="border-bottom py-2" th:text="${questionResponse.getAuthor()}"></h2>
        <h2 class="border-bottom py-2" th:text="${questionResponse.getQuestionContent()}"></h2>
        <h2 class="border-bottom py-2" th:text="${questionResponse.getQuestionCategory()}"></h2>


    </div>
</div>