<html layout:decorate="global/layouts/layout" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div layout:fragment="content" class="mx-auto">
    <th:block th:fragment="custom-css">
        <style>
            .queue {
                display: none;
            }
        </style>
    </th:block>

    <div>콘서트 이름</div>
    <div th:text="${concert.name}">
    </div>

    <div>콘서트 날짜</div>
    <select id="concertDateSelect">
        <option value="0">==선택==</option>
        <option th:each="date : ${concertDate}"
                th:value="${date.concertDateId}"
                th:utext="${date.concertDate}"></option>
    </select>

    <div>
        <form id="seatForm" th:action="|/concert/${concert.concertId}/seat|" method="POST">
            <input type="hidden" name="concertDateId" value="0">
            <button id="submitButton" class="bg-blue-500 text-white p-3 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue" type="submit">예매하기</button>
        </form>
    </div>

    <div class="queue">
        <h1>대기열</h1>
        <div>
            대기자 <span id="queueCount">0</span>명
            잠시만 기다려주세요.
        </div>
    </div>
</div>

<div layout:fragment="script">
    <script th:inline="javascript">
        window.onload = function() {
            var errorMessage = /*[[${errorMessage}]]*/ null;
            if (errorMessage) {
                alert(errorMessage);
            }
        };

        document.getElementById('submitButton').addEventListener('click', function(event) {
            if (!submitConcertDate(document.getElementById('seatForm'))) {
                event.preventDefault();
            }
        });

        function submitConcertDate(form) {
            var concertDateSelectElement = document.getElementById('concertDateSelect');
            var concertDateId = concertDateSelectElement.options[concertDateSelectElement.selectedIndex].value;

            if (concertDateId.length == 0 || concertDateId == 0) {
                alert('날짜를 선택해주세요.');
                return false;
            }

            form.concertDateId.value = concertDateId;

            const socket = new SockJS('/ws2');
            const stompClient = Stomp.over(socket);
            const memberId = /*[[${member != null ? member.id : null}]]*/ null;

            if (memberId === null) {
                alert('로그인이 필요합니다.');
                return false;
            }

            stompClient.connect({}, function() {
                $('.queue').css('display', 'block');

                stompClient.send('/app/queue/addQueue', {}, JSON.stringify({
                    concertDateId: concertDateId,
                    memberId: memberId
                }));

                stompClient.subscribe(`/queue/processQueue/${memberId}`, (message) => {
                    // document.querySelector('.queue').style.display = 'none';
                    stompClient.disconnect();
                    alert(message.body);
                    form.submit();
                });

                stompClient.subscribe(`/queue/listQueue/${memberId}`, (message)=> {
                    document.getElementById('queueCount').innerText = message.body;
                });
            });
        }
    </script>
</div>
</html>